@import '@/style/mixin';

.Button {
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  height: 48px;
  box-shadow: 0 2px 1px 0 var(--shadow-lite);
  > div {
    top: 0;
    left: 0;
    position: relative;
    height: 48px;
    transition: 300ms opacity;
    &:first-child {
      min-width: 144px;
      z-index: 2;
    }
    &:last-child {
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  &:hover > div:first-child {
    opacity: 0;
  }
}

.ButtonDefault {
  background-color: var(--background-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  > h4 {
    width: auto;
    font-weight: bold;
    color: var(--dark-text);
    text-transform: uppercase;
  }
}

.ButtonStrokeVIKA {
  background-image: var(--background-gradient);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  > div {
    margin: 2px;
    width: 100%;
    background-color: var(--background-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    padding: 13px 18px;
    > h4 {
      width: auto;
      height: auto;
      font-weight: bold;
      background-image: var(--background-gradient);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      text-transform: uppercase;
    }
  }
}

.ButtonVIKA {
  background: var(--background-gradient);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  > h4 {
    font-weight: bold;
    color: var(--text-white);
    text-transform: uppercase;
  }
}

.ButtonLinkAside {
  width: 48px;
  height: 48px;
  transition: 300ms transform;
  &:hover {
    transform: scale(1.25);
  }
}

.ButtonId {
  width: 48px;
  height: 48px;
  transition: 300ms transform;
  > img {
    width: 48px;
    height: 48px;
  }
  &:hover {
    transform: scale(1.25);
  }
}
