*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2
{
  font-weight: 700;
}

p,a,h3,h4,h5,h6
{
  font-weight: 400;
}

:root {
  --backdrop-50: rgba(0,0,0,0.5);
  --backdrop-40: rgba(0,0,0,0.4);
  --text-white: #FFFFFF;
  --background-gray: #F5F5F5;
  --background-gradient: linear-gradient(135deg, #9168CD 0.31%, #5556FF 42.64%, #45ADCD 73.58%, #3EC4CD 100%);
  --background-white: #FFFFFF;
  --text-gradient: linear-gradient(104deg, #9168CD -29.82%, #5657FF 103.67%, #52D6FF 201.22%, #51F4FF 284.52%);
  --shadow-lite: rgba(0,0,0,0.2);
  --shadow-hard: rgba(0,0,0,0.75);
  --stroke-color: #8C8C8C;
  --background-blue: #196BB1;
  --iit-color: #282A2B;
}

main
{
  background: var(--background-white);
}

img
{
  object-fit: cover;
  height: auto;
}

button
{
  border: none;

}

