*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2
{
  font-weight: 700;
}

p,a,h3,h4,h5,h6
{
  font-weight: 400;
}

:root {
  --backdrop-50: rgba(0,0,0,0.5);
  --text-white: #FFFFFF;
  --background-gray: #F5F5F5;
  --background-gradient: linear-gradient(135deg, #9168CD 0.31%, #5556FF 42.64%, #45ADCD 73.58%, #3EC4CD 100%);
  --background-white: #FFFFFF;
  --text-gradient: linear-gradient(104deg, #9168CD -29.82%, #5657FF 103.67%, #52D6FF 201.22%, #51F4FF 284.52%);
  --shadow-lite: rgba(0,0,0,0.2);
  --shadow-hard: rgba(0,0,0,0.75);
}

main
{
  background: var(--background-white);
}

section {
  z-index: 1;
  width: 100%;

  > div
  {
    gap: 5svw;
    padding: 10svw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0 0 5svw 5svw;
  }



  &:nth-child(odd) {
    background-color: var(--background-gray);

    > div
    {
      background-color: var(--background-white);
    }
  }

  &:nth-child(even) {
    background-color: var(--background-white);

    > div
    {
      background-color: var(--background-gray);
    }
  }
}

img
{
  object-fit: cover;
}

