*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6
{
  font-weight: 700;
}

p,a
{
  font-weight: 400;
}

:root {
  --backdrop-50: rgba(0,0,0,0.5);
  --text-white: #FFFFFF;
  --background-gray: #F3F4F6;
}

main
{
  padding: 0 10%;
  background: var(--background-gray);
}

section
{
  padding: 75px 0;
}

img
{
  object-fit: cover;
}