.heading {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 36px;
  > h1 {
    font-size: 42px;
    text-transform: uppercase;
  }
  > h1,
  > h3 {
    width: 100%;
    text-align: left;
  }
}
